*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 padding-top:2rem;
  background-color: rgb(134, 154, 167);
}

.col{
  text-align: left;
  margin-left: 0;
}

.collection.with-header .collection-item {
    padding-left: 2px;
}

